<div class="row">
    <div class="navbar">
        <coal-filter-bar
            [resultsWithFilterableFields]="resultsWithFilterableFields"
            (filtersSelection)="onFilterSelection($event)"></coal-filter-bar>
    </div>
    <div class="cars">
        @for (car of displayedCars$ | async; track $index) {
            <div class="car">
                <h3>{{ car.car }}</h3>
                <pre>{{ car | json }}</pre>
            </div>
        }
    </div>
</div>

<hr />
Selection: {{ selection | json }}
