<div class="sidenav-container">
    <mat-toolbar color="primary" class="tester-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="tester-app-name">Ng Coal Tester</h1>
    </mat-toolbar>

    <mat-sidenav-container class="tester-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav
            #sidenav
            opened="true"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                @for (element of sidenavElements; track $index; let i = $index; let first = $first) {
                    <a mat-list-item [routerLink]="element.route">{{ element.title }}</a>
                }
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
